@import "_functions";

article.cmls-testimonial,
:root .editor-styles-wrapper article.cmls-testimonial {

	display: flex;
	flex-direction: column-reverse;
	gap: 1em;

	> header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		text-align: left;
		font-size: 0.7rem;
		line-height: 1.25;
		color: #555;

		img {
			width: auto;
			max-width: 90px;
			height: auto;
			max-height: 80px;
			margin-right: 1em;
		}

		h2 {
			color: #222;
			font-size: 1.5em;
			font-weight: 400;
			margin: 0;
		}

		p {
			margin: 0;
		}

	}

}

// Archives
body.post-type-archive-cmls-testimonial {

	.cards {
		gap: 1.5em;

		@include editor_styles {

			@include phone {
				gap: 1em;
			}

		}

		article.cmls-testimonial {

			display: flex;
			flex-direction: column-reverse;
			gap: 1em;

			border-radius: 0.25em;
			box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.15);
			overflow: hidden;

			width: calc(33% - 1em);
			height: min-content;
			margin: 0;
			padding: 1em;

			font-size: 1em;

			> .body,
			> header {
				padding: 0;
			}

			@include editor_styles {

				@media (max-width: 1000px) {
					width: calc(50% - 1em);
				}

				@include phone {
					width: 100%;
				}

			}

		}

	}

}

// Single
body.single-cmls-testimonial {

	main.single {

		.row-container {
			max-width: 700px;
		}

		article.cmls-testimonial {

			> .body {
				margin-top: 1em;
			}

			> footer {
				margin-top: 1.5em;
			}

		}

	}

}
